.rowCurrency{
  margin: auto;
  align-items: center;
  text-align: center;
}

.colCurrency{
  align-items: center;
}

.cardCurrency{
  border: solid;
  border-radius: 15px;
  border-width: 3px;
  font-family: digital;
  font-size: 40px;
  background-color:chartreuse;
}

.tryCurrency{
  margin: auto;
  align-items: center;
  text-align: center;
}

.currencyTry{
  margin: auto;
  align-items: center;
  text-align: center;
}
